html,
body {
  margin: 0; /* Because annoying default browser margins */
}
video {
  position: absolute;

  width: 100vw;
  height: 100vh;
  margin-top: 00vw;


  z-index: 4;
  visibility: visible;
}
